<div class="container" >
    <footer class="footer" >
        <small>
        Copyright &copy; <a href="http://localhost:3000/">Buy-Sell-Buy</a>
        by <a href="http://localhost:3000/">aishwarya
        </small>
    <nav>
    
    </nav>
    </footer>
</div>